<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Главная страница</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
</head>
<body>

    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container">
            <a class="navbar-brand" href="#">GameStore</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'videogame_list' %}">Главная</a>
                    </li>
                    {% if user.is_authenticated %}
                    <li class="nav-item">
                        <a class="nav-link" href="#">{{ user.username }}</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'logout' %}">Выйти</a>
                    </li>
                    {% else %}
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'login' %}">Войти</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'register' %}">Регистрация</a>
                    </li>
                    {% endif %}
                    {% if user.is_authenticated %}
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'cart_view' %}">Корзина</a>
                    </li>
                    {% endif %}
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'api_purchases' %}">Список купленных игр</a>
                    </li>
                </ul>
            </div>
            <form class="d-flex ms-auto" method="get" action="{% url 'videogame_list' %}">
                <input class="form-control me-2" type="search" name="search" placeholder="Поиск" aria-label="Search" value="{{ query }}">
                <button class="btn btn-outline-success" type="submit">Поиск</button>
            </form>
        </div>  
    </nav>

    <div class="container mt-5">
        <h1 class="text-center mb-5">Список видеоигр</h1>

        {% if no_results %}
        <div class="alert alert-warning" role="alert">
            Товары по вашему запросу не найдены.
        </div>
        {% endif %}
        <div class="row">
            {% for game in page.object_list %}
            <div class="col-md-4 mb-4">
                <div class="card">
                    <img src="{{ game.image.url }}" class="card-img-top" alt="{{ game.title }}">
                    <div class="card-body">
                        <h5 class="card-title">{{ game.title  }}</h5>
                        <p><strong>Цена:</strong> {{ game.price }} тг</p>
                        <p><strong>Описание:</strong> {{ game.description}}</p>

                        {% if user.is_authenticated %}
                        <form class="add-to-cart-form" method="POST" action="{% url 'add_to_cart' %}" onsubmit="return handleFormSubmit(event, '{{ game.title }}')">
                            {% csrf_token %}
                            <input type="hidden" name="game_id" value="{{ game.id }}">
                            <button type="submit" class="btn btn-primary">Добавить в корзину</button>
                        </form>
                        {% endif %}
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>

        <div class="mt-4">
            <div class="d-flex justify-content-center">
                {% if page.has_previous %}
                    <a class="btn btn-secondary" href="?page={{ page.previous_page_number }}">« Назад</a>
                {% endif %}

                <span class="mx-2">Страница {{ page.number }} из {{ page.paginator.num_pages }}</span>

                {% if page.has_next %}
                    <a class="btn btn-secondary" href="?page={{ page.next_page_number }}">Вперед »</a>
                {% endif %}
            </div>
        </div>
    </div>

    <script>
        function handleFormSubmit(event, gameTitle) {
            event.preventDefault()

            var form = event.target;  
            var formData = new FormData(form);  

            
            fetch(form.action, {
                method: 'POST',
                body: formData,
                headers: {
                    'X-Requested-With': 'XMLHttpRequest', 
                }
            })
            .then(response => response.json())  
            .then(data => {
                
                alert(gameTitle + " добавлена в корзину!");
            })
            .catch(error => {
                console.error("Ошибка при отправке данных:", error);
                alert(gameTitle + " добавлена в корзину!");
            });
        }
   
    </script>

</body>
</html>




